pip install numpy
pip install pandas
pip install geopandas
pip install json
pip install requests
pip install SQLAlchemy
pip install geoalchemy2
pip install sqlalchemy.dialects.postgresql
pip install sqlalchemy.ext.declarative
pip install sqlalchemy.orm
pip install psycopg2
pip install matplotlib.pyplot
pip install sqlalchemy
pip install os
pip install mplcursors
pip install ipywidgets
pip install ipywidgets